<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookIT - Success</title>
    <link th:href="@{/css/offer-added.css}" rel="stylesheet" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
</head>
<body>
<div class="container">
    <h2 class="page-title">
        <span class="material-icons-round"> hotel </span>
        BookIT
    </h2>
    <h3>New offer successfully added!</h3>
    <a th:href="@{/}">
        <button class="submit-button"> Return to main page </button>
    </a>
</div>
</body>
</html>